body {
    background-color: rgb(48, 44, 44);
    padding: 3rem;
}


header {
    background-color: white;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    font-size: 2rem;
    color: rgb(103, 103, 103);
}


footer {
    background-color: white;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    font-size: 1.3rem;
    color: rgb(192, 12, 12);
}


.big_header {
    color:rgb(255, 0, 0);   
}

.explain {
    color: green;
}
